body {
  max-width: 800px;
  margin: 10px auto;
  height: 850px;
  margin-top: 50px;
}

h1,
h2,
h3,
h4,
p {
  font-family: "Poppins", sans-serif;
}

h2 {
  margin-top: 25px;
  text-transform: capitalize;
}

h4 {
  font-size: 25px;
  margin-bottom: 15px;
}

p {
  font-size: 15px;
}

hr {
  margin: 50px 30px 35px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.card-title {
  font-size: 45px;
  margin-bottom: 20px;
}

.card-body {
  background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
  padding: 30px 30px 70px;
}

.search {
  padding: 5px 60px 5px 10px;
  border-radius: 5px;
  border-color: #ededed;
  margin: 0;
}

.btn-secondary {
  margin-top: 20px;
}

#current-weather-icon {
  width: 150px;
  height: 150px;
  margin-top: 30px;
}

#currentTemperature {
  font-size: 75px;
}

.temperature-data {
  text-align: right;
  text-transform: capitalize;
}

#forecast p {
  font-size: 18px;
  color: #2b2a2a;
}

.weather-icon {
  height: 70px;
  width: 70px;
  margin-bottom: 10px;
  color: #27527a;
}
.temp-weekday {
  font-size: 20px;
}

.units {
  font-size: 18px;
  position: relative;
  top: -40px;
}
